<ion-view title="Agregar Compra">
	<ion-content>
		<div class="list card">
			<div class="item" ng-repeat="line in lines">
				<div class="list">
					<div class="row">
						<div class="col">
							<label class="item item-input">
								<input type="text" ng-model="line.name" placeholder="Producto" required="required">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="item item-input">
								<input type="number" ng-model="line.quantity" placeholder="Cantidad" required="required">
							</label>
						</div>
						<div class="col">
							<label class="item item-input">
								<input type="number" ng-model="line.price" placeholder="Precio Unitario" required="required">
							</label>
						</div>
						<div class="col col-10" ng-hide="lines.length == 1">
							<a class="button button-icon icon ion-minus-circled assertive" ng-click="removeLine(line)" style="text-align:center; width:100%;"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-33 col-offset-33">
					<a class="button button-icon icon ion-plus-circled balanced" ng-click="addLine()" style="text-align:center; width:100%;"></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-33 col-offset-33 text-right"><strong>Sub Total:</strong></div>
			<div class="col col-20 col-offset-10 text-right">{{ getTotal() | currency:"CRC " }}</div>
		</div>
		<div class="row">
			<div class="col col-33 col-offset-33 text-right" style="line-height: 2.4;"><strong>Abono:</strong></div>
			<div class="col col-20 col-offset-10"><input ng-model="credit.deposit" class="text-right" style="border:1px solid #ddd;" type="number"></div>
		</div>
		<div class="row">
			<div class="col col-33 col-offset-33 text-right"><strong>Total:</strong></div>
			<div class="col col-20 col-offset-10 text-right"><span>{{getTotal()-credit.deposit | currency:"CRC "}}</span></div>
		</div>
		<div class="row">
			<button ng-click="submitCredit()" class="button button-block button-balanced">Agregar Crédito</button>
		</div>
	</ion-content>
</ion-view>