<ion-view title="{{cliente.attributes.name}} {{cliente.attributes.lastName}}">
	<ion-nav-buttons side="right">
		<a href="#/tab/cliente/{{cliente.id}}/editar-cliente" class="button button-icon button-clear ion-edit"></a>
	</ion-nav-buttons>
	<ion-content>
		<div class="item item-text-wrap">
			<p><strong>{{cliente.attributes.name}} {{cliente.attributes.lastName}}</strong></p>
			<p><span>Saldo:</span> {{balance}} CRC</p>
			<p><span>Teléfono:</span> <a href="tel:({{cliente.attributes.phone}})">{{cliente.attributes.phone}}</a></p>
			<a class="button button-small icon icon-right ion-chevron-right" href="#/tab/cliente/{{cliente.id}}/agregar-credito">Agregar Crédito</a>
			<a class="button button-small icon icon-right ion-chevron-right" ng-click="showPopup()">Realizar Débito</a>
			<br>
			<a class="button button-small icon icon-left ion-chevron-left" href="#/tab/clientes">Volver</a>
			<ul>
				<li ng-repeat="transaction in transactions">
					{{transaction.attributes.amount}}
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>

<script id="popupCredito.html" type="text/ng-template">
	<input type="number" ng-model="data.deposit">
</script>	