<ion-view title="Clientes">
	<div class="item item-input-inset" style="margin-top:40px">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Nombre">
		</label>
		<button class="button button-small icon ion-search"></button>
	</div>
	<ion-content style="margin-top:45px">
	    <ion-list class="list">
	        <ion-item ng-repeat="cliente in clientes | orderBy: '-cliente.name'" cliente="cliente">
				<div class="item item-text-wrap">
					<p><strong>{{cliente.name}} {{cliente.lastName}}</strong></p>
					<p><span>Teléfono:</span> <a href="tel:({{cliente.phone}})">{{cliente.phone}}</a></p>
					<a class="button button-small icon icon-right ion-chevron-right" href="#/tab/cliente/{{cliente.objectId}}">Ver</a>
				</div>
	        </ion-item>
	    </ion-list>
	    <div class="col">
	    	<a class="button button-full button-balanced" href="#/tab/nuevo-cliente">Crear Nuevo Cliente</a>
		</div>
	</ion-content>
</ion-view>