<ion-view title="Editar Cliente">
	<ion-content>
	  <div class="list list-inset">
		<label class="item item-input">
			<input type="text" placeholder="Nombre" ng-model="cliente.name">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Apellidos" ng-model="cliente.lastName">
		</label>
		<label class="item item-input">
			<input type="email" placeholder="Correo" ng-model="cliente.email">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Teléfono" ng-model="cliente.phone">
		</label>
		<ul class="list">
	      <li class="item item-toggle">
	        ¿Actualizar ubicación?
	        <label class="toggle toggle-assertive">
	          <input type="checkbox" ng-model="cliente.saveLocation">
	            <div class="track">
	              <div class="handle"></div>
	            </div>
	        </label>
	      </li>
	    </ul>
		
		<!--<label class="item item-input">
			<input type="text" placeholder="Identificacion" ng-model="cliente.Id">
		</label> -->
			<!--<label class="item item-input">
	        <input type="text" placeholder="Dirección" ng-model="nuevoCliente-direccion">
	      </label> -->
		  <!--<span class="input-label">Horario de cobro:</span>
		  <ion-checkbox ng-repeat="item in hoursList"
	                      ng-model="item.checked" 
	                      ng-checked="item.checked">
	          {{ item.text }}
	      </ion-checkbox>
	      <span class="input-label">Días de cobro:</span>
	      <ion-checkbox ng-repeat="item in daysList"
	                      ng-model="item.checked" 
	                      ng-checked="item.checked">
	          {{ item.text }}
	      </ion-checkbox>-->
	      <button class="button button-balanced button-block" ng-click="updateClient()">Guardar</button>
    </div>
	</ion-content>
</ion-view>