<ion-view title="Estad&iacute;sticas">
	<ion-content style="padding: 20px">
		<p>Active los reportes que desee:</p>
  		<ul class="list">
		  	<!-- <li class="item item-toggle">
				Datos de uso general
				<label class="toggle toggle-balanced">
				<input type="checkbox" ng-model="reporte.usoSistema">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li> -->
			<li class="item item-toggle">
				<span style="font-size:14px">Reporte de clientes</span>
				<label class="toggle toggle-balanced">
				<input type="checkbox" ng-model="reporte.todosClientes">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				<span style="font-size:14px">Clientes Morosos</span>
				<label class="toggle toggle-balanced">
				<input type="checkbox" ng-model="reporte.clientesMorosos">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
			<li class="item item-toggle">
				<span style="font-size:14px">Clientes al día</span>
				<label class="toggle toggle-balanced">
				<input type="checkbox" ng-model="reporte.clientesAlDia">
				<div class="track">
				<div class="handle"></div>
				</div>
				</label>
			</li>
		</ul>
    	<button class="button button-positive button-block" ng-click="generarReporte()">Generar Reporte</button>

	</ion-content>
</ion-view>