<ion-view title="Geo Sales">
	<ion-content style="padding: 0 20px">
		<a href="#/tab/clientes" class="button button-block button-positive">
		  Ver Los Clientes
		</a>
		<div class="list">
			<div class="item item-divider">
				Clientes con pendientes
			</div>
			<a ng-repeat="cliente in clientesPendientes | orderBy: cliente.lastCollectDate | filter : query" cliente="cliente" class="item item-icon-left item-icon-right" href="tel:{{cliente.phone}}">
				<i class="icon ion-person"></i>
				<p>
					<strong>{{cliente.name}} {{cliente.lastName}}</strong>
				</p>
				<i class="icon ion-ios7-telephone" style="color: rgb(17, 189, 17);"></i>
			</a>
		</div>
		<div class="list">
			<div class="item item-divider">
				Clientes al día
			</div>
			<a ng-repeat="cliente in clientesAldia | orderBy: cliente.lastCollectDate | filter : query" cliente="cliente" class="item item-icon-left item-icon-right" href="tel:{{cliente.phone}}">
				<i class="icon ion-person"></i>
				<p>
					<strong>{{cliente.name}} {{cliente.lastName}}</strong>
				</p>
				<i class="icon ion-ios7-telephone" style="color: rgb(17, 189, 17);"></i>
			</a>
		</div>
	</ion-content>
</ion-view>