<ion-view title="Rutas de Cobro">
	<ion-content has-header="false" scroll="true">
		<!-- map directive-->
		<app-map style="height:400px;margin:12px;box-shadow:0 3px 25px black;" center="whoiswhere" zoom="17" markers="whoiswhere"> 
		</app-map>
		<ion-list class="list" >
    		<ion-item ng-repeat="cliente in whoiswhere | orderBy: cliente.lastCollectDate | filter : query" cliente="cliente" href="#/tab/cliente/{{cliente.id}}">
				<div class="item item-text-wrap">
					<p><strong>{{cliente.name}} {{cliente.lastName}}</strong></p>
					<p><span>Teléfono:</span> <a href="tel:({{cliente.phone}})">{{cliente.phone}}</a></p>
					<!--<p><a href="#/tab/clientes" class="button button-block button-positive">Detalles</a></p>-->
				</div>
    		</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

<script id="popupRuta.html" type="text/ng-template">
	
</script>	