<ion-view title="Rutas de Cobro">
	<ion-content data-tap-disable="true">
		<div id="map-canvas" style="height:400px; width: 100%;margin:0px;padding:0px;" data-tap-disabled="true"></div>
		<div class="list card">
			<label class="item item-radio item-icon-left" ng-repeat="cliente in clientes" ng-click="displayCliente(cliente)">
				<input type="radio" name="clientes">
				<div class="item-content">
					<i class="icon ion-person"></i>
					<span style="padding-left: 35px">{{cliente.name}} {{cliente.lastName}}</span>
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
	</ion-content>
</ion-view>