<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" href="#/tab/inicio">
    <ion-nav-view name="inicio-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline" href="#/tab/clientes">
    <ion-nav-view name="clientes-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios7-location" icon-off="ion-ios7-location-outline" ui-sref="tabs.rutas">
    <ion-nav-view name="rutas-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios7-pulse-strong" icon-off="ion-ios7-pulse" ui-sref="tabs.estadisticas">
    <ion-nav-view name="estadisticas-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>